@using EmeraldBotany.Common
@model EmeraldBotany.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}
@inject EmeraldBotany.Services.Data.IUploadDatabaseService Upload
@{
    
    <div class="text-center">
        <button type="submit" class="bg-danger" onclick="@Upload.PopulateDatabaseWithPlants()">Upload Data</button>
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <div class="col-md-4 offset-md-4">
            <p>
                We have:
                <ul class="list-group ">
                    <li class="list-group-item bg-dark text-success">Plants: @Model.PlantsCount</li>
                    <li class="list-group-item bg-dark text-success">Species: @Model.SpeciesCount</li>
                    <li class="list-group-item bg-dark text-success">Growth: @Model.GrowthCount</li>
                    <li class="list-group-item bg-dark text-success">Distributions: @Model.DistributionsCount</li>
                    <li class="list-group-item bg-dark text-success">Images: @Model.ImagesCount</li>
                    <li class="list-group-item bg-dark text-success">Specifications: @Model.SpecificationsCount</li>
                </ul>
            </p>
        </div>
    </div>
}